#menu figure{
    display: flex;
}
#menu figcaption{
    display: flex;
    flex-direction: column;
}
#nos-plats figure{
    position: relative;
    flex:1;
    width: 20em;
    height: 17.56em;
}
#nos-plats figcaption{
    position: absolute;
    width: 20em;
    height: 17.56em;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: left;
    flex-direction: column;
    background: url(../images/noise.png) repeat 0 0 rgba(0,0,0,0.1);
    opacity: 0;
    transform: scale(0);
    transition: all 1s;
    overflow: hidden;
}
#nos-plats a:hover figcaption{
    opacity: 1;
    transform: scale(1);
}
#nos-plats h5{
    color: beige;
}
#nos-plats p{
    color: beige;
}
.effet-hover{
    overflow: hidden;
}
#deco{
    background-image: url("../images/fond2.jpg");
    color: seashell;
    height: 20em;
}