.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}
#menu figure{
    display: flex;
}
#menu figcaption{
    display: flex;
    flex-direction: column;
}
#nos-plats figure{
    flex:1;
    width: 20em;
    position: relative;
}
#nos-plats figcaption{
    position: absolute;
    width: 20em;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#nos-plats figure effet-hover img{
    margin-left: 10em;
}
#deco{
    background-image: url("../images/fond2.jpg");
    color: seashell;
    height: 20em;
}