/*-- configuration générale*/
body{
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
}
.texte-couleur-principale{
    color: #8c775c;
}
#coordonnee .material-icons.md-14, #menu-site .material-icons.md-14{
    font-size: 14px;
    margin-right: 0.4em;
}
#coordonnee, #commentaire{
    background-color: #8c775c;
}
#email, #login-inscription, #langue{
    background-color: #353535;
    text-align: center;
}
#menu-site, #menu-bas, footer{
    background-color: #191919;
}
#menu a:hover, #reservation a:hover, #carouselPlats .btn:hover{
    background-color: #353535;
    font-weight: bolder;
}
#menu-site, #menu-site a{
    color: white;
}
#menu-site a:hover{
    font-weight: bold;
}
#reservation .btn, #carouselPlats .btn{
    background-color: #8c775c;
    color: #ffffff;
}

/*--section coordonnee--*/
#coordonnee{
    color: white;
    height: 2em;
    vertical-align: middle;
}
#coordonnee a{
    color: #ffffff;
}
#coordonnee a:hover{
    font-weight: bold;
}
#telephone{
    border:
    0px 5px 0px 0xpx;
}
#login-incription{
    justify-content: flex-end;
}
/*--section barre navigation--*/
#barre-navigation{
   background-color: #ffffff;
}
#barre-navigation ul li:hover{
    background-color: #8c775c;
    border-radius: 0.3em 0.3em 0em 0em;
}
#barre-navigation ul li a:hover{
    color: #ffffff;
    font-weight: bold;
}
#btn-cherche:hover{
    width: 250px;
}
/*-- section caroussel plat --*/
.carousel-inner{
    width: 100%;
}
.carousel-item {
    margin: auto;
}
.carousel-item .btn{
    color: white;
    background-color: #8c775c;
}
/*-- section Menu --*/
#menu figure{
    display: flex;
    /* position:relative; */
    /* overflow: hidden; */
    /* width: 90em; */
    /* height: 20em; */
}
/* #menu figure img{ */
    /* position: absolute; */
    /* transition: transform .2s; */
/* } */
/* #menu figure img:hover{ */
    /* transform: scale(1.5); */
    /* overflow: hidden; */
/* } */
#menu figcaption{
    display: flex;
    flex-direction: column;
}
#menu a{
    color: #ffffff;
    background-color: #8c775c;
}
/*--Liste de plats--*/
#nos-plats a figure figcaption{
    color: white;
    font-weight: bolder;
}
#nos-plats figure{
    position: relative;
    flex:1;
    width: 20em;
    height: 17.56em;
}
#nos-plats figcaption{
    position: absolute;
    width: 20em;
    height: 17.56em;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: left;
    flex-direction: column;
    background: url(../images/noise.png) repeat 0 0 rgba(0,0,0,0.1);
    opacity: 0;
    transform: scale(0);
    transition: all 1s;
    overflow: hidden;
}
#nos-plats a:hover figcaption{
    opacity: 1;
    transform: scale(1);
}
#nos-plats h5{
    color: beige;
}
/*--deco--*/
#deco{
    background-image: url("../images/fond2.jpg") ;
    color: seashell;
    height: 20em;
    background-attachment: fixed;
    
}
.barre-deco{
    height: 0.1em;
    width: 70%;
    background-color: #EAEFF5
}
/*-- carte blog --*/
.card-deck .card-body p{
    border-color: gray;
    border-bottom-style: dotted; 
}
.card-body a{
    color: #353535;
}
.card-body a:hover{
    font-weight: bold;
}
/*--carousel commentaire--*/
#commentaire #carousel-commentaire blockquote p{
    color: #ffffff;
}